.aboutPortfolioLoading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutPortfolio {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-top: 10%;
}

.projectTitle {
  position:relative;
}

.projectTitle:before {
  content:"";
  z-index:-1;
  left:-0.7em;
  top:-0.1em;
  border-width:3px;
  border-style:solid;
  border-color:rgb(0, 255, 234);
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  border-radius:50%;
  padding:0.1em 0.5em;
}

.projectTitle:after{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  padding:0.1em 0.5em;
  border-width:3px;
  border-style:solid;
  border-color:rgb(0, 255, 234);
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  border-radius:50%;
}

.portfolioProjectBox {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.portfolioProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  border: 1px solid rgb(0, 0, 0);
  width: min-content;
  padding-bottom: 2%;
  border-radius: 2%;
  /* background-color: black; */
  /* border-top: 3px solid rgb(0, 255, 234);
  border-right: 3px solid rgb(0, 255, 234); */
  /* color: white; */
  padding: 1%;
}

.portfolioParagraphBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioIcons {
  display: flex;
  justify-content: center;
  margin: 3%;
}

.linkButton {
  cursor: pointer;
  height: 30px;
  width: 30px;
  color: black;
}

.linkButton:hover {
  color: aqua;
}

.portfolioParagraph {
    width: 80%;
}

.portfolioImages {
  width: 492px;
  height: 300px;
  border-top-left-radius: 2.5%;
  border-top-right-radius: 2.5%;
}

@media screen and (max-width: 1400px) {
  .portfolioImages {
    width: 392px;
    height: 250px;
  }

  .linkButton {
    height: 24px;
    width: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .portfolioProjectBox {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .portfolioParagraph {
    font-size: .8em;
  }
}

@media screen and (max-width: 600px) {
  .portfolioProjectBox {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .portfolioParagraph {
    font-size: .8em;
  }

  .portfolioImages {
    width: 300px;
    height: 200px;
  }
}